<section class="features">
  <div class="container features__container">
    <div class="features__img">
      <img loading="lazy" src="img/feature-1.svg" class="image" width="118" height="27" alt="feature">
    </div>
    <div class="features__img">
      <img loading="lazy" src="img/feature-2.svg" class="image" width="123" height="28" alt="feature">
    </div>
    <div class="features__img">
      <img loading="lazy" src="img/feature-3.svg" class="image" width="100" height="48" alt="feature">
    </div>
    <div class="features__img">
      <img loading="lazy" src="img/feature-4.svg" class="image" width="118" height="23" alt="feature">
    </div>
    <div class="features__img">
      <img loading="lazy" src="img/feature-5.svg" class="image" width="127" height="30" alt="feature">
    </div>
  </div>
</section>
