<section class="plan">
  <div class="container plan__container">
    <div class="plan__selector">
      <h2>Get the right plan for future product.</h2>
      <div class="plan__selector-block">
        <div class="item active">
          <span>Yearly</span>
        </div>
        <div class="item">
          <span>Monthly</span>
        </div>
      </div>
    </div>
    <div class="plan__content">
      <div class="plan__item">
        <span class="title">Starter</span>
        <h2><strong>Free</strong></h2>
        <p>1 Website <br> 5 GB Hosting <br> Limited Support</p>
        <a class="plan__btn">
          <span class="btn-text">Get Started</span>
        </a>
      </div>
      <div class="plan__item active">
        <span class="title">Premium</span>
        <h2><strong>$29</strong>/month</h2>
        <p>10 Website <br> 15 GB Hosting <br> Premium Support</p>
        <a class="plan__btn">
          <span class="btn-text">Get Started</span>
        </a>
      </div>
      <div class="plan__item">
        <span class="title">Enterprise</span>
        <h2><strong>$49</strong>/month</h2>
        <p>Unlimited Website <br> 50 GB Hosting <br> Premium Support</p>
        <a class="plan__btn">
          <span class="btn-text">Get Started</span>
        </a>
      </div>
    </div>
  </div>
</section>
