<section class="subscription">
  <div class="container subscription__container">
    <article class="subscription__item">
      <div class="subscription__img"><img src="img/sub-1.png" alt="sub-image" width="348" height="473"></div>
      <div class="subscription__content">
        <h2>Subscription index</h2>
        <p>A daily dataset to keep you up to date on subscription market trends and what's happening in your vertical.</p>
        <a href="#">Learn more</a>
      </div>
    </article>
    <article class="subscription__item">
      <div class="subscription__content">
        <h2>In-depth metrics</h2>
        <p>Accurate, real-time reporting at your fingertips. Getting data has never been easier.</p>
        <a href="#">Learn more</a>
      </div>
      <div class="subscription__img"><img src="img/sub-2.png" alt="sub-image" width="346" height="474"></div>
    </article>
  </div>
</section>

